@use "./fragments/palette";
@use "./fragments/font";
@import "./transition";

* {
  outline: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: font.$app-weight;
  font-family: font.$app-family;
  color: palette.$text-primary-lighten;
}

html { scroll-behavior: smooth; }

html,
body,
#__nuxt { height: 100%; }

body { background-color: palette.$app-primary; }

a {
  text-decoration: none;
  color: palette.$text-primary-lighten;
  transition: color 250ms ease;

  &:hover,
  &.router-link-exact-active { color: palette.$text-primary; }
}

a,
p,
span {
  line-height: 22px;
}

input,
textarea {
  font-weight: 400;
}

textarea { resize: none; }

::placeholder {
  font-weight: 400;
  color: palette.$text-primary-lighten;
}
